<form action="/create" method="POST">
    <h2>Add your news</h2>

    <div class="input-field">
        <input type="text" name="title">
        <label>News title</label>
    </div>

<!--<h1>Upload file</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label>File</label><br>
        <input type="file" name="filedata" /><br><br>
        <input type="submit" value="Send" />
      </form>

    <button type="submit" class="btn">Add news</button>

</form>-->


